@charset "UTF-8";

/*

Paleta de cores:
Verde -> #49a09d
Roxo -> #5f2c82

*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --verde: #49a09d;
    --roxo: #5f2c82;
}

body, html {
    background-color: var(--roxo);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    background-color: white;
    width: 250px;
    height: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section > div#imagem {
    background: var(--roxo) url('../imagens/metal.jpg') no-repeat left bottom;
    display: block;
    background-size: cover;
    height: 200px;
}

section > div#formulario {
    display: block;
    padding: 10px;
}

section > div#formulario > h1 {
    text-align: center;
    margin-top: 10px;
}

section > div#formulario > p {
    font-size: 0.8em;
    padding: 10px 0px;
}

div.campo {
    background-color: var(--roxo);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--roxo);
    margin: 5px 0px;
}

div.campo > span {
    color: white;
    font-size: 1.9em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    background-color: var(--verde);
    color: white;
    font-size: 1em;
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2d5a57;
}

form > a.botao {
    background-color: white;
    color: #2d5a57;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 5px;
    border-radius: 8px;
    border: 1px solid var(--verde);
}

form > a.botao:hover {
    background-color: #6cd3cf;
}

form > a.botao > span {
    font-size: 0.8em;
}